*, *::before, *::after {
  box-sizing: inherit; }

div {
  box-sizing: border-box; }

a {
  color: #1585cf; }

.container {
  display: flex;
  flex-direction: row; }

.flex-box, .content, .tabs .tabs__navs, .board .board__row, .fantasynews__header, .headline, .schedule__game {
  display: flex;
  flex-direction: row;
  width: 100%; }

.flex-cell, .board .board__row .board__cell, .headline {
  flex: 1; }
  .flex-cell--2 {
    flex: 2; }
  .flex-cell--3 {
    flex: 3; }
  .flex-cell--4 {
    flex: 4; }
  .flex-cell--5 {
    flex: 5; }
  .flex-cell--6 {
    flex: 6; }
  .flex-cell--7 {
    flex: 7; }
  .flex-cell- {
    flex: 8; }
  .flex-cell--9 {
    flex: 9; }

.sidebar {
  border-right: 1px solid #1585cf; }
  .sidebar ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
    .sidebar ul a {
      font-size: 1.2em;
      text-decoration: none; }
      .sidebar ul a li {
        line-height: 2em;
        -webkit-padding-start: 10px;
        -webkit-padding-end: 10px;
        margin: 0 10px;
        box-sizing: border-box;
        border-bottom: 3px solid white; }
    .sidebar ul a.active li, .sidebar ul a:hover li {
      border-bottom: 3px solid #1585cf; }

.content {
  overflow: auto; }

.main-content {
  position: relative; }
  .main-content__cell {
    padding: 20px 0;
    border-bottom: 1px solid #1585cf; }

.subSidebar {
  border-left: 1px solid #1585cf;
  padding: 0 10px; }
  .subSidebar > div h3 {
    border-bottom: 3px solid #1585cf; }
  .subSidebar > div > div {
    width: 90%;
    margin: 10px 5%; }
    .subSidebar > div > div h4 {
      border-bottom: 3px solid #1585cf; }
    .subSidebar > div > div > div {
      line-height: 1.5em; }
      .subSidebar > div > div > div > div:last-child {
        text-align: right; }
      .subSidebar > div > div > div > h4 {
        border-bottom: 3px solid #1585cf; }

.tabs .tabs__navs div {
  display: flex;
  align-items: center;
  align-content: center; }
  .tabs .tabs__navs div span {
    margin: 5px;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10%; }
  .tabs .tabs__navs div span:hover {
    background-color: #1585cf;
    color: #fff;
    cursor: pointer; }

.tabs .tabs__navs div:last-child {
  padding: 0 20px; }

.tabs .tabs__navs .tab__active {
  background-color: #1585cf;
  color: #fff; }

.tabs .tabs__content {
  padding: 10px 20px; }
  .tabs .tabs__content .hidden {
    display: none; }

.board .board__row {
  width: 100%; }
  .board .board__row .board__cell {
    margin: 0 15px 0;
    position: relative; }
    .board .board__row .board__cell h4 {
      color: #1585cf; }
    .board .board__row .board__cell hr {
      min-height: 3px;
      background-color: #1585cf; }
    .board .board__row .board__cell div {
      margin: 0 0 5px; }
    .board .board__row .board__cell div > div {
      line-height: 1.5em; }
      .board .board__row .board__cell div > div > span {
        font-size: 0.7em;
        color: #ccc; }
    .board .board__row .board__cell div > div:last-child {
      text-align: right; }

.article {
  padding: 20px; }
  .article a {
    display: block;
    width: 100%; }
  .article__cover {
    position: relative;
    padding: 0;
    background-color: #000;
    min-height: 280px; }
    .article__cover a {
      padding: 0; }
    .article__cover--image {
      min-height: 280px;
      height: 100%;
      position: relative;
      background-size: cover;
      background-position: center center; }
    .article__cover h2 {
      color: #fff;
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: 2.125em;
      font-weight: bold;
      padding: 5px 10px;
      background-color: #000;
      opacity: .7; }
  .article__content {
    padding: 0 20px;
    text-align: justify;
    font-size: 1.125em; }
    .article__content a {
      text-decoration: none; }
  .article__title {
    font-size: 2em;
    padding-left: 30px; }

.tidbit {
  width: 100%;
  background-color: #061d2c;
  color: #fff;
  padding: 100px 10%; }
  .tidbit > div {
    text-align: center; }

.fantasynews__header > div:last-child {
  position: relative;
  text-align: right; }
  .fantasynews__header > div:last-child span {
    position: absolute;
    bottom: 40px;
    right: 20px; }
    .fantasynews__header > div:last-child span a {
      text-decoration: none; }

.headline {
  min-height: 170px;
  margin: 0 20px; }
  .headline__image {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px 0;
    text-align: center; }
    .headline__image img {
      height: auto;
      width: 90%;
      padding: 20% 5% 0;
      background-color: #ddd;
      border-radius: 50%; }
  .headline__content {
    position: relative; }
    .headline__content--header span {
      font-weight: bold;
      font-size: .8em;
      padding: 5px 20px;
      margin: 5px 5px 5px 0; }
    .headline__content--header-name {
      background-color: #ddd; }
    .headline__content--header-team {
      background-color: #000;
      color: #fff; }
    .headline__content--date {
      position: absolute;
      right: 0;
      bottom: 10px;
      color: #ddd;
      font-size: .7em; }

.assistleader__summary {
  padding: 10px 10%;
  font-size: 2em;
  font-weight: bold; }

.assistleader__number {
  font-size: 2.5em;
  color: red; }

.loading__container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  align-content: center; }
  .loading__container i {
    margin: auto; }

.linklist {
  list-style-type: none; }
  .linklist li {
    margin: 20px auto; }
    .linklist li a {
      font-weight: bold;
      line-height: 1.5;
      color: #1585cf;
      text-decoration: none; }

.schedule {
  padding: 5px;
  width: 100%; }
  .schedule > div {
    flex: 1; }
  .schedule__header {
    text-align: center;
    margin: 10px 0;
    background-color: #f1f1f1;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5; }
  .schedule__month {
    border: 2px solid #1585cf;
    margin: 0 0 20px; }
    .schedule__month--title {
      background-color: #1585cf;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center; }
      .schedule__month--title h3 {
        font-weight: bold;
        color: #fff; }
  .schedule__filter {
    margin: 10px 5px; }
    .schedule__filter > div {
      margin: 0 5px 0 10px;
      padding: 3px 5px;
      font-size: 1em;
      padding: 10px 0;
      border-bottom: 2px solid #fff; }
    .schedule__filter--tag {
      margin: 10px;
      padding: 5px 10px;
      background-color: #ddd;
      font-size: 0.75em;
      font-weight: bold;
      line-height: 1.5; }
  .schedule__date {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #1585cf; }
  .schedule__games {
    border-bottom: 2px solid #1585cf; }
  .schedule__game {
    align-items: center;
    border-bottom: 1px solid #1585cf; }
    .schedule__game:last-child {
      border-bottom: none; }
    .schedule__game--teams {
      display: flex; }
    .schedule__game--team > div {
      height: 100%; }
    .schedule__game--team--logo {
      display: block; }
    .schedule__game--team--info {
      height: 35px;
      display: flex;
      align-content: center;
      align-items: center; }
    .schedule__game--team--action {
      display: flex;
      align-items: center;
      justify-content: center; }

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 300px;
  background-color: #1585cf; }
  .dropdown span {
    padding: 0 20px;
    font-size: 1.125em;
    font-weight: bold;
    color: #fff; }
  .dropdown__body {
    display: none;
    position: absolute;
    background-color: #ddd;
    width: 100%; }
    .dropdown__body ul {
      list-style-type: none;
      z-index: 1;
      -webkit-padding-start: 0;
      margin: 0;
      width: 100%; }
    .dropdown__body li {
      padding: 5px 10px;
      width: 100%;
      border-bottom: 1px solid #fff; }
      .dropdown__body li:last-child {
        border: none; }
      .dropdown__body li:hover {
        background-color: #1585cf;
        color: #fff; }
  .dropdown:hover .dropdown__body {
    display: block; }
